.whereto {
  text-align: center;
  color: lightgray;
  padding-top: 5%;
  font-size: 5em;
}

.main-body {
  text-align: left;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 5%;

  width: 75%;
}

.flight-table {
  padding-bottom: 10px;
}

.flight-price {
  width: 120px;
  font-weight: bold;
  font-size: 1.7em;
}

.flight-route {
  width: 400px;
}

#nav-link {
  color: white;
}

#currency-dropdown {
  width: 75px;
}

#small-flight-text {
  color: gray;
  vertical-align: top;
  font-size: 0.7em;
}

#search-form {
  margin-bottom: 2%
}

#sortby-text {
  font-weight: bold;
  padding-right: 5px;
}

.error-message {
  text-align: center;
}

#searchflight-button {
  color: black;
  width: 100%;
}

h1 {
  color: #2E6EB2;
}

#loading-text {
  color: #2E6EB2;
  font-size: 1.5em;
  font-weight: bold;
}

.login-page-div {
  padding: 3%;
}

.login-signup-buttons{
  width: 100%;
}

.more-flights {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flight-block {
  clear: both;
}
