.main-body {
  text-align: left;
  margin: auto;
  padding-top: 3%;
  width: 75%;
}

#nav-link {
  color: white;
}

#currency-dropdown {
  width: 75px;
}

#search-form {
  margin-bottom: 2%
}

#sortby-text {
  font-weight: bold;
  padding-right: 5px;
}

.error-message {
  text-align: center;
}

#searchflight-button {
  color: black;
  width: 100%;
}

h1 {
  color: #D66643;
}

#loading-text {
  color: #2E6EB2;
  font-size: 1.5em;
  font-weight: bold;
}
