.adventureAwaits {
    padding-top: 30px;
    background:url('/plane4.jpg');
    background-repeat:repeat-x;
    background-position:0 0;
    font-size: 10vw;
    line-height: 95%;
    text-transform:uppercase;
    text-align:center;
    font-weight: bold;
    font-family:'Oswald', Sans-serif;
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
    -webkit-animation:BackgroundAnimated 5s linear infinite;
      -moz-animation:BackgroundAnimated 5s linear infinite;
      -ms-animation:BackgroundAnimated 5s linear infinite;
      -o-animation:BackgroundAnimated 5s linear infinite;
      animation:BackgroundAnimated 5s linear infinite;
  }
      @keyframes BackgroundAnimated {
      from {
          background-position:0 0
      }
      to {
          background-position:100% 0
      }
  }
      @-webkit-keyframes BackgroundAnimated {
      from {
          background-position:0 0
      }
      to {
          background-position:100% 0
      }
  }
      @-ms-keyframes BackgroundAnimated {<     from {
          background-position:0 0
      }
      to {
          background-position:100% 0
      }
  }
      @-moz-keyframes BackgroundAnimated {
      from {
          background-position:0 0
      }
      to {
          background-position:100% 0
      }
  }

.main-body {
  text-align: left;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 5%;
  width: 75%;
}

.flight-table {
  padding-bottom: 10px;
}

.flight-price {
  width: 120px;
  font-weight: bold;
  font-size: 1.7em;
}

.flight-route {
  width: 400px;
}

.logo {
  padding: 0px 10px;
  float: left;
}

#nav-link {
  color: white;
}

#currency-dropdown {
  width: 75px;
  float: left;
}

#roundTrip-dropdown {
  width: 120px;
  float: left;
}

#small-flight-text {
  color: gray;
  vertical-align: top;
  font-size: 0.7em;
}

#search-form {
  margin-bottom: 2%
}

#sortby-text {
  font-weight: bold;
  padding-right: 5px;
}

#datePicker{
  margin-right: 13vw;
}

.error-message {
  text-align: center;
}

#searchflight-button {
  color: black;
  width: 100%;
}

h1 {
  color: #2E6EB2;
}

#loading-text {
  color: white;
  font-size: 3vw;
}

.login-page-div {
  padding: 3%;
}

.login-signup-buttons{
  width: 100%;
}

.more-flights {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

.flight-block {
  clear: both;
}
